.app {
}
.add {
    text-align: center;
}

header {
    height: 170px;
    width: 90%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.title {
    font-family: "Gotham Rounded";
    font-size: 2em;
    width: 100%;
    margin: 0 auto;
    color: #1121f2;
    line-height: 170px;
    padding: 0 70px 0 70px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.p {
    font-family: "Noto Sans KR 700";
    font-size: 2.5em;
}
