.app {
    min-height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-bottom: 130px; /* footer height */
}

.add {
    text-align: center;
}

.header {
    height: 170px;
    width: 90%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.title {
    font-family: "Gotham Rounded";
    font-size: 2em;
    width: 100%;
    margin: 0 auto;
    color: #1121f2;
    padding: 0 70px 0 70px;
}
