.app {
    min-height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-bottom: 130px; /* footer height */
}

.add {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.p {
    font-family: "Noto Sans KR 700";
    font-size: 2.5em;
}
